# Mac OS
*.DS_Store

# Videos
*.mp4

# Images
*.png

node_modules/

cypress/downloads
cypress/videos
cypress/screenshots
cypress/reports/*
cypress/result/*
.vscode/
cypress/result/results.json
